.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.colors{
    display: flex;
    align-items: center;

}

#grey{
    margin: 12px 2px;
    padding: 42px 40px;
    background-color: grey;
    border: 2px solid black;
}
#white{
    margin: 12px  2px;
    padding: 42px 40px;
    background-color: white;
    border: 2px solid black;
}
#green{
    margin: 12px 2px;
    padding: 42px 40px;
    background-color: green;
    border: 2px solid black;
}
#yellow{
    margin: 12px 2px;
    padding: 42px 40px;
    background-color: yellow;
    border: 2px solid black;
}